.squares {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.square-container {
  border: 1px solid #666;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select:none;
  justify-content: center;
}