h3 {
  text-align: center;
}

.squares {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.square-container {
  border: 1px solid #666;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select:none;
  justify-content: center;
}

.square-container:hover {
  background-color: #fc9972;
}

.btn {
  padding: 10px 25px;
  border: none;
  background: none;
  background-color: #fc4b05;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: #fc4b05;
  transition: all 0.5s ease;
}